/* Start Global */

main.home-global * {
  color: white;
}

/* End Global */

/* Start Header */

a.home-nav-link:hover {
  color: #adadad;
}

/* End Header */

.lady-image {
  /* background: url(../images/landing-page-girl.png) no-repeat bottom left; */
  background-size: contain;
  flex-grow: 1;
  max-height: 70vh;
  max-width: 30vw;
}

.btn:hover {
  background-color: #2190d8;
}

/* Start Home page circles */

.home-page-circle-1 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, 0.1);
  bottom: 5vw;
  left: 3vw;
}

.home-page-circle-2 {
  position: absolute;
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.1);
  top: 10vh;
  left: 35vw;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
}

.home-page-circle-3::before {
  content: '';
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.1);
}

/* End Home page circles */
