/* Start Global */

main.home-global * {
  color: white;
}

main.home-global {
  background-color: #2f303a;
}

/* End Global */

/* Start Header */

a.home-nav-link:hover {
  color: #adadad;
}

/* End Header */

.lady-image {
  background: url(../images/landing-page-girl.png) no-repeat bottom left;
  background-size: contain;
  flex-grow: 1;
  max-height: 70vh;
  max-width: 30vw;
}

.btn:hover {
  background-color: #2190d8;
}
