body {
  min-height: 100vh;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
}

/* Header nav link */
a.nav-link:hover {
  color: #adadad;
}

/* Global buttons */
.btn:hover {
  background-color: #2190d8;
  transition: background-color ease-in 10ms;
}
